/* primary color: 25A4AD */
/* text color: 313131 */
:root {
  --primary-color: #25a4ad;
  --text-color: #313131;
  --background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--background-color);

  height: 68px;
  border-bottom: 1px solid #e0e0e0;
}

.nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 32px;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  /* flex-direction: column; */
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.auth-links {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 12px 24px;
  border: 1.5px solid var(--primary-color);
  cursor: pointer;
}

.signup {
  color: var(--primary-color);
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
  text-align: center;
}
p {
  text-align: center;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;  

  background: #f5f5f5;
  padding: 48px 0;

}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.features {
  padding: 80px 10%;
  background: #fafafa;
  text-align: center;
}

.features-header h2 {
  font-size: 40px;
  font-weight: 300;
}

.features-header h2 span {
  color: #1bb3b3;
  font-weight: 600;
}

.features-header p {
  max-width: 700px;
  margin: 20px auto 60px;
  color: #666;
  line-height: 1.6;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}

.feature-card {
  background: #fff;
  padding: 40px 30px;
  border: 1px solid #eee;
  transition: all 0.3s ease;
}

.feature-card h3 {
  margin-bottom: 20px;
  font-weight: 600;
}

.feature-card p {
  color: #666;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.feature-card a {
  color: #1bb3b3;
  text-decoration: none;
  font-weight: 500;
}

.feature-card:hover,
.feature-card.active {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.features-footer button {
  background: transparent;
  border: 2px solid #1bb3b3;
  color: #1bb3b3;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.features-footer button:hover {
  background: #1bb3b3;
  color: #fff;
}
.features-footer button:focus {
  outline: none;
}